server {
    listen 80;
    root /usr/share/nginx/html;

    resolver ${NGINX_LOCAL_RESOLVERS} valid=10s;
    set $api http://${API_UPSTREAM};

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass $api;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location = /healthz {
        access_log off;
        return 200 "ok\n";
    }
}
